{% extends "base.html" %}

{% block title %}
Créer un projet
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow border-0">

                <div class="card-header text-center text-white"
                     style="background-color:#6F4E37;">

                    <h2>Créer un projet</h2>

                </div>

                <div class="card-body p-4">

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">

                            <label class="form-label">
                                Nom du projet
                            </label>

                            <input
                                type="text"
                                class="form-control"
                                name="nom"
                                placeholder="Entrez le nom du projet"
                                required>

                        </div>

                        <div class="mb-4">

                            <label class="form-label">
                                Description
                            </label>

                            <textarea
                                class="form-control"
                                name="description"
                                rows="5"
                                placeholder="Décrivez votre projet">
                            </textarea>

                        </div>

        <div class="mb-4">
        <label class="form-label fw-bold">Membres du projet</label>

            {% for utilisateur in utilisateurs %}
        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                name="membres"
                value="{{ utilisateur.id }}"
                id="user{{ utilisateur.id }}">

            <label class="form-check-label" for="user{{ utilisateur.id }}">
                {{ utilisateur.username }}
            </label>
        </div>
    {% endfor %}
</div>



                        <div class="text-center">

                            <button
                                type="submit"
                                class="btn text-white px-5"
                                style="background-color:#6F4E37;">

                                Créer le projet

                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>
    

</div>


{% endblock %}