{% extends "base.html" %}

{% block title %}
Modifier une tâche
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow border-0">

                <div class="card-header text-center text-white"
                     style="background-color:#6F4E37;">

                    <h2>Modifier la tâche</h2>

                </div>

                <div class="card-body">

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">

                            <label class="form-label">
                                Titre
                            </label>

                            <input
                                type="text"
                                name="titre"
                                class="form-control"
                                {{ tache.titre }}
                                required>

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Description
                            </label>

                            <textarea
                                name="description"
                                class="form-control"
                                rows="4">{{ tache.description }}</textarea>

                        </div>

                        <button
                            type="submit"
                            class="btn text-white"
                            style="background-color:#6F4E37;">
                            Enregistrer
                        </button>

                        <a href="{% url 'tache_detail' tache.id %}"
                           class="btn btn-secondary">
                            Annuler
                        </a>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}